<!DOCTYPE html>
<html>
  <head>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito|Playfair+Display" rel="stylesheet">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/css/main.css'/>

  </head>
  <body>
    <nav>
      <ul>
        <div>
          <li>home</li>
          <li>blog archive</li>
        </div>
        <div class="sign-in">
          <li>log in</li>
          <li>sign in</li>
          <li>new post</li>
        </div>
      </ul>
    </nav>
    <h1 id="title"><%= title %></h1>
    <div class="blog-grid">
      <% blog.posts.forEach(function(item){ %>
      <div>
        <h3><%= item.header %></h3>
        <img class="blog-image" src="<%= item.image %>">
        <p></p>
        <p><%= item.quote %></p>
      </div>
      <% }); %>
    </div>
    <footer>Designed by Taylor Davids ©-2019</footer>
    <!-- <script src="/routes/index.js"></script> -->
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
  </script>
  </body>
</html>
<!--  this is where you write your html -->
<!--  pulling from data -->